body {
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*----------------------------------------*/
/* Acceuil page
/*----------------------------------------*/

.top img {
  height: 25rem;
  margin-top: -100px;
}

.top h1 {
  position: relative;
  bottom: 20rem;
  z-index: 1;
  color: white;
}

.top {
  margin-top: 100px;
}

.card-img-top {
  height: 20rem;
}

.card-img-top:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.customer {
  width: 20%;
  height: 20%;
  clip-path: circle(42% at 50% 50%);
}

#myCarousel {
  background-image: url(https://image.freepik.com/photos-gratuite/cadre-frontiere-vignette-sombre-abstrait-fond-texture-gris-style-fond-grunge-vintage_64749-2592.jpg);
  background-size: cover;
  background-position: center;
}

.feedbacks-text {
  color: white;
  opacity: 0.7;
}

/*----------------------------------------*/
/* footer
/*----------------------------------------*/

footer {
  background-color: black;
  margin-bottom: -20px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-widget {
  color: white;
}

.footer-link:hover {
  color: blue;
  text-decoration: underline;
}

.social-icon {
  transform: scale(2);
}

.copyright {
  color: rosybrown;
}

/*----------------------------------------*/
/* Contact-page
/*----------------------------------------*/
.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  height: 60px;
  padding: 10px 29px;
  border: none;
  background: #edf3f5;
  margin-bottom: 19px;
  font-style: italic;
  font-size: 16px;
  color: #242424;
}

.contact-form textarea {
  resize: none;
  height: 164px;
  padding: 24px 29px 10px;
  margin-bottom: 30px;
}

.contact-form .site-btn {
  padding-left: 350px;
}

.contact-adress dl dd span {
  margin-left: 50px;
}

.product-img {
  height: 19rem;
}

/* buttons */

.btn {
  padding: 10px 30px;
  background: #242424;
  color: white;
  border: none;
}

.btn-search {
  height: 38px;
  background-color: #ccc;
  color: #242424;
  border: 2px solid #ea1e63;
}

.btn-success:hover,
.btn-danger:hover {
  background-color: #ffffff;
  color: #242424;
  border: 1px solid black;
  font-weight: bold;
}

.btn-success {
  background-color: #11556c;
  transform: scale(0.9);
  position: relative;
  right: 9px;
}

.btn-danger {
  background-color: #ea1e63;
  transform: scale(0.9);
}

.btn-search:hover {
  transform: rotateY(180deg) translateY(-4px);
  background-color: black;
  color: white;
}

#search {
  transform: translateY(-4px);
  color: #11556c;
}

.searchbox {
  border: solid #ea1e63 2px;
  border-right: none;
}

.lead {
  color: #ea1e63 !important;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.lead:hover {
  border-bottom: 2px solid #ea1e63;
}

.down {
  font-size: 20px;
  color: #11556c !important;
  font-weight: 600;
}

.navbar {
  padding: 15px;
  width: 100%;
  background-color: #232323;
  margin-right: -15px;
}

.prim-color {
  color: #ea1e63;
}

.second-color {
  color: #11556c;
}

.grad {
  background-image: linear-gradient(#ea1e63, #11556c);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border: 2px solid #ea1e63;
}

.card {
  box-shadow: 0 3px 10px #c4893c;
  overflow: hidden;
}

.card-title {
  background-color: rgba(196, 137, 60, 0.2);
  color: #232323;
  text-align: center;
}

.panier-img {
  height: 2rem;
  width: 2rem;
  margin-top: -5px;
}
.panier-img:hover {
  transform: rotateY(180deg) translateX(50px);
  transition: all 1s ease-in;
}

.price {
  border-radius: 30px;
  background-color: rgba(196, 137, 60, 0.8);
  padding: 10px 16px;
  cursor: pointer;
}

.brown {
  background-image: radial-gradient(#fff, #c4893c);
}

.quantity {
  width: 15%;
}

.Rejoindre {
  height: 85%;
}
